<a href="https://colab.research.google.com/github/GeremiccaAndrea/Verifiche/blob/main/Correzione_verifica_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. caricare i dati del file in un dataframe Pandas
2. visualizzare le colonne del titolo e del genere dei primi 10 film
3. visualizzare le colonne del titolo e del genere dei primi 10 film in un modo diverso dal precedente
4. visualizzare i film in inglese realizzati in Francia
5. visualizzare i film di guerra drammatici
6. visualizzare i film fantasy e i thriller
7. visualizzare il budget complessivo dei film realizzati in Spagna
8. visualizzare il numero di film di guerra realizzati in Spagna

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/wtitze/3E/main/2010.csv', sep = ';')
df.head()

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 25
0,127 Hours,2010.0,Adventure|Biography|Drama|Thriller,English,USA,R,94.0,"1,85",18000000.0,18329466.0,...,642.0,223.0,11984,63000,0.0,279179,440.0,450.0,"7,6",NaN
1,3 Backyards,2010.0,Drama,English,USA,R,88.0,NaN,300000.0,NaN,...,659.0,301.0,1884,92,0.0,554,23.0,20.0,"5,2",NaN
2,3,2010.0,Comedy|Drama|Romance,German,Germany,Unrated,119.0,"2,35",NaN,59774.0,...,20.0,9.0,69,2000,0.0,4212,18.0,76.0,"6,8",NaN
3,8: The Mormon Proposition,2010.0,Documentary,English,USA,R,80.0,"1,78",2500000.0,99851.0,...,12.0,5.0,210,0,0.0,1138,30.0,28.0,"7,1",NaN
4,A Turtle's Tale: Sammy's Adventures,2010.0,Adventure|Animation|Family,English,France,PG,88.0,"2,35",NaN,NaN,...,749.0,602.0,3874,0,2.0,5385,22.0,56.0,"6,1",NaN

In [ ]:
#visualizzare il totale delle medaglie delle prime 10 nazioni
df.head(10)[['Title' , 'Genres']]

In [ ]:
#visualizzare i film in inglese realizzati in Francia
df[(df['Language'] == 'English') & (df['Country'] == 'France')]

In [ ]:
#visualizzare i film di guerra drammatici
df[(df['Genres'].str.contains('Drama')) & (df['Genres'].str.contains('War'))]

In [ ]:
#visualizzare i film fantasy e i thriller
df[(df['Genres'].str.contains('Fantasy')) | (df['Genres'].str.contains('Thriller'))]

In [ ]:
#visualizzare il budget complessivo dei film realizzati in Spagna
df[df['Country'] == 'Spain'][['Budget']].sum()

In [ ]:
#visualizzare il numero di film di guerra realizzati in Spagna
len(df[(df['Country'] == 'Spain') & (df['Genres'].str.contains ('War'))])
#oppure 
(df[(df['Country'] == 'Spain') & (df['Genres'].str.contains ('War'))])['Title'].count()

In [ ]:
#visualizzare i titoli dei film di cui non si conosce il budget
df[df['Budget'].isnull()][['Title']]

In [ ]:
#visualizzare i titoli dei film e il relativo regista. Ordinare a partire dal film che ha il budget più alto
df.sort_values(by = 'Budget', ascending = False)[['Title' , 'Director']]